body {
    background-color:#ccc !important;
}
#title {
    text-align:center;
}
form {
    display:flex;
    justify-content:center;
}
article {
    border:1px solid green;
    font-size:1.125rem;
    display:flex;
    justify-content:space-between;
    padding:1rem;
    border-radius:1rem;
    margin-top:1rem;
}  

